@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
}

.grid-wrapper {
  margin-top: 3rem;
  width: 720px;
  height: 720px;
  border: 1px solid black;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

h1 {
  background-color: #ffd166;
  padding: 1rem 2rem;
  border: 4px solid #000;
  border-radius: 12px;
  display: inline-block;
  box-shadow: 4px 4px 0 #000;
}

.grid-square {
  border: solid 1px black;
  transition: all 0.1s;
}

.hovered {
  background-color: blue;
}

button {
  border-radius: 8px;
  padding: 4px 16px;
  background-color: #f6cf76;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  gap: 0.5rem;
}

.grid-square {
  box-sizing: border-box;
  border: 1px solid black;
  transition: all 0.1s;
}